html, body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    font-family: 'Anton', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Itim', cursive;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Solitreo', cursive;
    font-family: 'Unbounded', cursive;
}